<div class="container-xl">
    <div class="table-responsive border-solid-grey">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>CRUD <b>Personas</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Agregar</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Fecha ingreso</th>
                        <th>Tipo</th>
                        <th class="width-250">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of personas$">
                        <th>{{ item.rut }}</th>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.tipoCliente}}</td>
                        <td>
                            <button type="button" (click)="rutEdit = item.rut"
                                class="btn btn-warning btn-width-generic m-r-7" data-toggle="modal"
                                href="#editEmployeeModal">Editar</button>
                            <button type="button" (click)="rutDelete = item.rut"
                                class="btn btn-danger btn-width-generic" data-toggle="modal"
                                href="#deleteEmployeeModal">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="persona.nombre" required minlength="4">
                    </div>
                    <div>
                        <label>Rut</label>
                        <input type="text" class="form-control" [(ngModel)]="persona.rut" required minlength="4">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">Cancel</button>
                    <button type="submit" (click)="add()" class="btn btn-success" data-dismiss="modal"
                        value="Agregar">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Editar {{rutEdit}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="persona.nombre" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Editar" (click)="update()" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar {{rutDelete}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Esta seguro?</p>
                    <p class="text-danger"><small>Esta accion no es revertible.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete" (click)="delete()" data-dismiss="modal">
                </div>
            </form>
        </div>
    </div>
</div>