<div id="myToast" class="centrar-div toast fade show" *ngIf="mensajeNotificacion.rut != null">
    <div class="toast-header" [ngClass]='selectClass()'>
        <strong class="mr-auto"><i class="fa fa-globe"></i>info</strong>
        <button id="closeModal" type="button" class="ml-2 mb-1 close" (click)="closeNotificacion()"
            data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        <p>Usted acaba de {{mensajeNotificacion.accion}} el siguiente rut {{mensajeNotificacion.rut}}</p>
    </div>
</div>