.notify-add{
    background-color:#96f496
}
.notify-delete{
    background-color:#ea5a68
}
.notify-put{
    background-color:#ffd559
}
.centrar-div{
    margin-left: auto !important;
    margin-right: auto !important;
}